<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Object management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="oi oi-home me-2" aria-hidden="true"></i> Buildings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="panels">
                <i class="oi oi-list me-2" aria-hidden="true"></i> Panels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materials">
                <i class="oi oi-layers me-2" aria-hidden="true"></i> Materials
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <i class="oi oi-wrench me-2" aria-hidden="true"></i> Services
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}